@model ICollection<WebApp.Models.Trainee>
@using WebApp.Utils;

@{
    ViewBag.Title = "ViewTrainee";
}

@*

*@

<h2>View Trainee Assigned</h2>
<table class="table">
    <tr>
        <th scope="col">Trainee Name</th>
        <th scope="col">Full Name</th>
        <th scope="col">Age</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.User.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.Age)
            </td>
        </tr>
    }

</table>