@model WebApp.ViewModels.GroupedUsersViewModel
@{
    ViewBag.Title = "View Course Assigned";
}


<h2>View Course And Trainee</h2>
<ul class="list-group">
    <li class="list-group-item">
        @Html.ActionLink("View Course Assigned", "Index", "TrainerViewCourse")
    </li>
    <li class="list-group-item">
        @Html.ActionLink("View Trainee Enrolled Course", "Index", "TrainerViewTrainee")
    </li>
</ul>

