@model WebApp.ViewModels.UserProfileViewModel
@using WebApp.Utils;
@{ 
	ViewBag.Title = "Delete Account";
}

@Html.Partial("Profile.DetailsPartial")

@using (Html.BeginForm("Delete", "Trainee", FormMethod.Post))
{
	@Html.AntiForgeryToken()

	<div class="form-actions no-color">
		<input type="submit" value="Confirm Delete" class="btn btn-default" /> |
		@Html.ActionLink("Back to List", "Index")
	</div>
}
