@model WebApp.ViewModels.UserViewModel
@{
	ViewBag.Title = "Account Details";
}
@Html.Partial("DetailsProfilePartial")
<p>
	@Html.ActionLink("Edit profile", "Edit", new { id = Model.User.Id }) |
	@Html.ActionLink("Back to List", "Index")
</p>