@model WebApp.ViewModels.UserViewModel
@{
	ViewBag.Title = "Account Details";
}
@Html.Partial("DetailsProfile")
<p>
	@Html.ActionLink("Edit", "EditAccount", new { id = Model.User.Id }) |
	@Html.ActionLink("Back to List", "Index")
</p>