@model WebApp.ViewModels.AccountRegisterViewModel
@{
	ViewBag.Title = "Create Staff Account";
}

<h2>@ViewBag.Title</h2>

@Html.Partial("CreateAccountFormPartial")

@section Scripts {
	@Scripts.Render("~/bundles/jqueryval")
}
