@model WebApp.ViewModels.AccountRegisterViewModel
@{
	ViewBag.Title = "Create Staff Account";
}

<h2>@ViewBag.Title</h2>

@Html.Partial("CreateAccountFormPartial")

@section scripts {
	@Scripts.Render("~/bundles/jqueryval")
	@Scripts.Render("~/Scripts/js/show-hide-profile.js")
}

