@model WebApp.ViewModels.UserViewModel
@using WebApp.Utils;
@{ 
	ViewBag.Title = "Delete Account";
}

@Html.Partial("DetailsProfilePartial")

@using (Html.BeginForm("Delete", "Account", FormMethod.Post))
{
	@Html.AntiForgeryToken()

	<div class="form-actions no-color">
		<input type="submit" value="Confirm Delete" class="btn btn-default" /> |
		@Html.ActionLink("Back to List", "Index")
	</div>
}
