@model WebApp.ViewModels.UserProfileViewModel
@{
	ViewBag.Title = "Delete Account";
}

@Html.Partial("Profile.DetailsPartial")

@using (Html.BeginForm("Delete", null, FormMethod.Post, new { @class= "offset-sm-2" }))
{
	@Html.AntiForgeryToken()
	@Html.ValidationSummary(true, "", new { @class = "text-danger" })
	<div class="form-actions no-color">
		@Html.ActionLink("Ignore", "Index", null, new { @class = "btn btn-secondary" })
		<input type="submit" value="Confirm Delete" class="btn btn-danger" />
	</div>
}
