@model WebApp.ViewModels.UserProfileViewModel
@{
	ViewBag.Title = "Delete Account";
}

@Html.Partial("DetailsProfilePartial")

@using (Html.BeginForm("Delete", "Account", FormMethod.Post))
{
	@Html.AntiForgeryToken()

	<div class="form-actions no-color">
		@Html.ActionLink("Ignore", "Index", null, new { @class = "btn btn-secondary" })
		<input type="submit" value="Confirm Delete" class="btn btn-danger" />
	</div>
}
