@model WebApp.ViewModels.UserViewModel
@{
	ViewBag.Title = "Account Details";
}

@Html.Partial("DetailsProfilePartial", Model)
<p>
	@Html.ActionLink("Edit Profile", "Edit", new { id = Model.User.Id }) |
	@Html.ActionLink("Back to List", "Index")
</p>